*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

img{
    border-style: none;
    max-width: 100%;
}


body{
    background: linear-gradient(to bottom, #222, rgb(46, 46, 46)) ;
    overflow:auto;
    height:280vh;
}




/*contenedor general */

.contenedor_formulario_moto{
    height: 100vh;

}
/* flex box */
.contenedor_formulario_moto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}


.formulario_moto{
    text-align: center;
    box-shadow: 0px 0px 10px 2px #fff6 ;
    border-radius:30px;
    padding:20px 20px 20px 20px  ;
    margin:1500px 0px 0px 0px;

}

/* titulo texto y imagen  */

.formulario_moto >  h3{
    font-size:28px;
    margin: 20px 0px;
    text-shadow: 1px 1px 3px #fff;
}

.formulario_moto > p{
    width: 40rem;
    color:#999 ;
    
}

.formulario_moto > img{
    border-radius:50%;
    padding: 20px;
    width: 20rem;
    height: 20rem;
    margin: 40px 0px;
    box-shadow: 0px 0px 10px 2px #fff3; 
}


/*marca de moto caja de formulario_moto */
/* CAJA marca de motos*/

.marca_de_moto{
    margin: 15px 0px ;
       color: #fff;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
}

.marca_de_moto h3{
    text-align: center;
    color:#999;
    padding-bottom: 21px;
    font-size:22px;

}

.marca_de_moto div input{
    cursor:pointer;


}
.marca_de_moto div label{
    cursor:pointer;
    padding: 0px 3px;
    color: #ccc;

}
.marca_de_moto div label:hover{
    color: #fff;
}



/*caja de cilindraje*/

.escoger-cilindraje{
    margin: 15px 0px ;
    color: #fff; 
    width: 100%;
    display: flex;
    flex-direction:column ;

}

.escoger-cilindraje h3{
    padding: 11px 0px;
    text-align: center;
    color:#999;
    font-weight: 700;
    font-size:22px;

}

.escoger-cilindraje select{
    margin: 7px auto ;
    width: 300px;
    height: 28px;
    cursor:pointer;
    background: #444444;
    border-radius: 15px;
    color: rgb(133, 133, 133);
    font-weight: 600;
    border: none;
}

.escoger-cilindraje select:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 3px 2px #aaa;

}

.escoger-cilindraje option{
    cursor: pointer;
    font-weight: 700;
}

/*escoger fecha de tecnomecanica y demas valores */


.fecha-tecnomecanica h3{
    padding: 15px 0px;
    color:#999;
    font-size:22px;
    
}


.fecha-tecnomecanica select{
    margin: 7px auto ;
    width: 300px;
    height: 29px;
    cursor:pointer;
    background: #444444;
    border-radius: 15px;
    color: rgb(133, 133, 133);
    font-weight: 600;
    border: none;
}

.fecha-tecnomecanica select:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 3px 2px #aaa;

}

.fecha-tecnomecanica option{
    cursor: pointer;
    font-weight: 700;
}


/* editante valor de input[date] */

.fecha-tecnomecanica input{
    background: #444444;
    border-radius: 10px;
    width: 19rem;
    padding:5px 0px;
    margin: 10px 0px;
    color: rgb(133, 133, 133);

}

.fecha-tecnomecanica input:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 3px 2px #aaa;
}



/*cantidad de kilometros*/


.Kilometraje-moto h3{
    padding: 15px 0px;
    color:#999;
    font-size:22px;
    
}


.Kilometraje-moto select{
    margin: 7px auto ;
    width: 300px;
    height: 29px;
    cursor:pointer;
    background: #444444;
    border-radius: 15px;
    color: rgb(133, 133, 133);
    font-weight: 600;
    border: none;
}

.Kilometraje-moto select:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 3px 2px #aaa;

}

.Kilometraje-moto option{
    cursor: pointer;
    font-weight: 700;
}


/* inputs seguro  */
.Placa_seguro{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.Placa_seguro input{
    width:310px;
    margin:10px 0px;
    padding:10px 30px;
}


.Placa_seguro h3{
    margin:20px 0px;
    font-size:22px;
    color:#999;
}

#fecha{
    background: #444444;
    border-radius: 10px;
    width: 19rem;
    padding:5px 0px;
    margin: 10px 0px;
    color: rgb(133, 133, 133);

}


.Placa_seguro input{
    border:none;
    border-bottom:1px solid rgb(139, 139, 139);
    background:none;
    color:#fff;
    
}

.Placa_seguro input::placeholder{
    font-size:15px;
}

.Placa_seguro input:focus{
    outline:none;
}


/*boton resetear y enviar */


/* Resetear campos y boton envio  */

.envio{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.envio button{
    text-align: center;
    margin: 20px 0px;
    padding:20px 30px;
    color:#ffff;
    background: #7777;
    border:none;
    border-radius:23px;
    outline:none;
    cursor:pointer;
    transition-property:transform;
    transition-duration:1s;

}
.envio button:hover{
    transform:scale(1.1);

}



