*{
    padding:0;
    margin:0;
    box-sizing: border-box ;
}
 
.contenedor-menu{
    position: relative;
    
}

/* contenedor general  */
body{
    overflow: hidden;
    background: linear-gradient(to bottom, #222, rgb(46, 46, 46)) ;
     
}
.contenedor-general-login{
    
    display:flex;
    height: calc(100vh - 90px);
    justify-content: center;
    align-items: center;

}


/*formulario*/

.contenedor-login{
    border-radius: 10px;
    padding:40px ;
    width: 480px;
    height: 420px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 1px rgb(158, 158, 158) ;
    backdrop-filter: blur(10px);
}
/*caja del texto */
.caja-texto-login{
   text-align: center;
   font-size: 23px;
   margin: 10px 0px 20px 0px ;
   color: rgb(150, 150, 150);

}
/* caja de todos los input */
.caja-input{
    text-align: center;
    padding: 10px 0px;
    position: relative;
    
    

}
/*elementos de input */
.caja-input input{
    margin-top: 11px;
    padding: 10px  30px;
    border-radius:20px;
    width: 389px;
    background: none;
    border: 1px solid rgb(150, 150, 150);
    color:#ccc;
}
.caja-input input::placeholder{
    color: rgb(155, 155, 155);
}

.caja-input input:focus{
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 1px #fff ;
}

/*iconos*/
.caja-input i{
    position: absolute;
    margin-top: 21px;
    color: rgb(150, 150, 150);
      
}

#user{
    top:10%;
    right: 5%;
}

#lock{
    right: 5%;
    top: 52%;
}


/* Recuerda contraseña caja con olvidaste contraseña */
.recuerda-contra{
    width:100%;
}
.recuerda-contra  div{
    width: 140px;
    transform: translateX(-2px);
    color: rgb(150, 150, 150);

}
.recuerda-contra label{ 
    margin: 0px 2px;
    cursor: pointer;
}

/*olvidaste contraseña*/
.recuerda-contra a{
    display: inline-block;
    margin-left: 71px;
    font-size: 13px;
    width: 170px;
    transform: translateY(-25px) translateX(155px);
    color: rgb(150, 150, 150);
    text-decoration:none ;
    letter-spacing: .3px;
}
.recuerda-contra a:hover{
    text-decoration: underline;
    color: rgb(231, 23, 0);
}

.boton-inicio-sesion{
    width: 100%;
    height: 200px;
    text-align: center;
}

.primer-btn{
    display: block;
    text-decoration:none ;
    border-radius: 20px;
    text-align: center;
    padding:10px 0px;
    margin: 20px 0px 0px 0px;
    color: #fff;
    background: rgb(105, 11, 0);
    
    
}


.boton-inicio-sesion p{
    display: inline-block;
    color: rgb(150, 150, 150);
}

.boton-inicio-sesion p a{
    margin-left: 5px;
    text-decoration: none;
    color:rgb(150, 150, 150);
}

.boton-inicio-sesion p a:hover{

    text-decoration:underline ;
    color: #a10;
}