*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}




img{
    border-style: none;
    max-width: 100%;
}


body{
    background: linear-gradient(to bottom, #222, rgb(46, 46, 46)) ;
    height:auto;
    overflow: auto;
    
}




/*contenedor general */

.contenedor_formulario_moto{
    height: auto;

}
/* flex box */
.contenedor_formulario_moto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}


.formulario_moto{
    box-shadow: 0px 0px 10px 1px #fff6 ;
    border-radius:30px;

}
/* flex box  */
.formulario_moto{
    display: flex;
    flex-direction: row ;
    width: auto;
    height: auto;
    transform: scale(.7) ;
    
    
}


.primer_gran_caja{
    height: auto;  
    color: #fff;
    padding: 20px 30px;

    

}
.primer_gran_caja img{
    border-radius:50%;
    padding: 20px;
    width: 20rem;
    height: 18rem;
    margin: 40px auto;
    box-shadow: 0px 0px 10px 2px #fff3;
    transform: translateX(10rem); 
    
}

.primer_gran_caja h3{
    font-size:28px;
    margin: 20px 0px;
    text-shadow: 1px 1px 3px #fff;
    text-align: center;
}

/* parrafos  */
.primer_gran_caja p{
    width: 40rem;
    color:#ddd ;
}
.segunda_gran_caja{
    height: auto;  
    text-align: center;
    padding: 20px 30px;


    
}


/*marca de moto caja de formulario_moto */
/* CAJA marca de motos*/

.marca_de_moto{
    margin: 15px 0px ;
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.marca_de_moto label{
    text-align: center;
    font-size:22px;
    color:#ddd;
    padding-bottom: 21px;

}


.marca_de_moto input{
    border:none;
    border-bottom:1px solid rgb(139, 139, 139);
    background:transparent;
    color:#fff;
    
}


.marca_de_moto input:focus{
    outline: none;
    border-bottom: 1px solid rgba(206, 206, 206, 0.799);
}





/*escoger fecha de tecnomecanica y demas valores */


.fecha-tecnomecanica h3{
    padding: 15px 0px;
    color:#ddd;
    font-size:22px;
    
}




/* editante valor de input[date] */

.fecha-tecnomecanica input{
    background: #444444;
    border-radius: 10px;
    width: 19rem;
    padding:5px 0px;
    margin: 10px 0px;
    color: #ddd;

}

.fecha-tecnomecanica input:hover{
    transform: scale(1.02);
    box-shadow:0px 0px 3px 2px #aaa;
}


/* tercera gran caja */
.tercera_gran_caja{

    height: auto;  
    padding: 20px 50px;

}
/* inputs seguro  */
.Placa_seguro{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.Placa_seguro input{
    width:310px;
    margin:10px 0px;
    padding:10px 30px;
}


.Placa_seguro h3{
    margin:20px 0px;
    font-size:22px;
    color:#ddd;
}

#fecha{
    background: #444444;
    border-radius: 10px;
    width: 19rem;
    padding:5px 0px;
    margin: 10px 0px;
    color: rgb(133, 133, 133);

}


.Placa_seguro input{
    border:none;
    border-bottom:1px solid rgb(139, 139, 139);
    background:transparent;
    color:#fff;
    
}

.Placa_seguro input::placeholder{
    font-size:15px;
}

.Placa_seguro input:focus{
    outline:none;
}


/*boton resetear y enviar */


/* Resetear campos y boton envio  */

.envio{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.envio button{
    text-align: center;
    margin: 20px 0px;
    padding:20px 30px;
    color:#ffff;
    background: #7777;
    border:none;
    border-radius:23px;
    outline:none;
    cursor:pointer;
    transition-property:transform;
    transition-duration:1s;
    font-size: 15px;

}
.envio button:hover{
    transform:scale(1.1);

}

.envio input{
    text-align: center;
    margin: 20px 0px;
    font-size: 15px;
    padding:20px 30px;
    color:#ffff;
    background: #7777;
    border:none;
    border-radius:23px;
    outline:none;
    cursor:pointer;
    transition-property:transform;
    transition-duration:1s;

}
.envio input:hover{
    transform:scale(1.1);
    background: #777;

}


.envio a{
    text-align: center;
    margin: 20px 0px;
    padding:20px 30px;
    color:#ffff;
    background: #7777;
    border:none;
    border-radius:23px;
    outline:none;
    cursor:pointer;
    transition-property:transform;
    transition-duration:1s;
    text-decoration: none;
    font-size: 15px;

}
.envio a:hover{
    transform:scale(1.1);
    background: #92929277;

}




/* tabla de crud  */

.tabla{
    border: 1px solid #fff;
    color: #fff;
    width: 80%;
}
.tabla th{
    border: 1px solid #fff;
}
.tabla td{
    border: 1px solid #fff;
}
