
.contenedor-menu{
    position:fixed;
    
}

/* contenedor general */
.contenedor_general_usuario{
    height: 100vh;
    background: linear-gradient(to bottom, #222, rgb(46, 46, 46)) ;
    color: #fff;
    
    
}

/* flex del contenedor general */

.contenedor_general_usuario{

    display: flex;
    flex-direction: column;
    align-items:center; /* configura el main axis si es colum*/
    justify-content: center; /* configura el  cross axis si es column  */
}


/* formulario del usuario  */

.formulario_usuario{
    border:solid 1px #8888;
    height: 28rem;
    text-align: center;
    padding: 0px 60px ;
}


/* propiedades del formulario */

.formulario_usuario{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}

.formulario_usuario h3{
    font-size: 23px;
    text-shadow: 1px 1px 3px #fff;
    padding:20px 0px;
}

.formulario_usuario input{
    width: 220px;
    padding:5px;
    border-radius: 8px;
    
}

/* estilos input */

.formulario_usuario input{
    background:transparent;
    border:none;
    border-bottom: 3px  solid #888  ;
    outline: none;
    color: #fff;
}

.formulario_usuario input::placeholder{
    color:#888;

}

/* botones de formulario */
.botones_usuario{
    display: flex;
    flex-direction: column;
}
.botones_usuario input{
    background-color: #222;
    border: none;
    margin: 10px;
    cursor: pointer;
    padding: 10px 10px ;

}



.botones_usuario input:hover{
    transform:scale(1.05);
    

}

#reseteo{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    

}
#reseteo:hover{
    transform: scale(1.03);
    color:#666;

}


.botones_usuario a{
    background-color: #222;
    border: none;
    color: #fff;
    width: 220px;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 10px ;

}



.botones_usuario a:hover{
    transform:scale(1.05);
    

}
