*{ /* contenido general  */
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

img{ /* normalize de imagen  */
    border-style:none;
    max-width: 100%;
}

body{ 
    scroll-behavior: smooth; /* comportamiento de deslizamiento  */
}

/*Menu*/
.contenedor-menu{
    width: 100%;
    height: 80px;
    position: fixed;
    background: rgba(255, 255, 255, 0.205);
    z-index: 1;

}
.contenedor-menu{ /* flex del contenedor menu */
    display:flex;
    justify-content: space-between;
}

/* logo nombre de la compañia contenedor */
.nombre{
    height: 100%;
    display: flex;
    width: 250px;
    justify-content: flex-end;
    align-items: center;

}
/* logo nombre de la compañia caja */
.nombre a{    
    color: rgb(0, 0, 0);
    font-size:24px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;

}

/* opciones del menu caja */
.opciones-menu ul{
    color:#000;
    height: 100%;
    
    transform: translateX(-160px);

}

.opciones-menu ul li{
    list-style-type: none;
    display: inline-block;
    line-height: 76px;
    text-align: center;
    margin-left: 30px;
    font-size: 17px;

}
.opciones-menu ul li a{
    text-decoration: none;
    color:#000;

}

.opciones-menu ul li a:hover{
    color: #2464c4;

}

/*boton del menu responsive*/
.checkbtn{
    font-size: 30px;
    float:right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
    position: absolute; 
    right:0;
    
}
/*palomita del icono*/
#check{
    display: none;
}





/*contenedor general body*/
.contenedor-general{
    display: flex;
    flex-direction: column;

}
/* primera seccion(caja contenedor,) */
.primer-seccion{
    height: 1100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    background:linear-gradient(to bottom, rgb(136, 136, 136), rgb(0, 0, 0) );

}

.primer-seccion img{ 
    width: 370px  ;
    height: 300px ;
    border-radius:50%;
    transform: translateY(-40px);
}

.primer-seccion h3{ /* imagen de la primera  seccion+ */
    width: 410px;
    font-size:16px;
    font-weight: 500;
    text-align: center;
    color:#fff;

}

/* boton de registrarse*/
.primer-seccion a{
    padding: 20px 35px;
    border-radius: 5px;
    background: #79c9c3;
    text-decoration: none;
    color:#fff;
    letter-spacing: 1px;
    transform:translateY(21px);
    transition-property: transform;
    transition-duration:1s;

}

.primer-seccion a:hover{
    transform: scale(1.1) translateY(21px);
}


/*segunda seccion sobre nosotros*/
.segunda-seccion{
    height: 1000px;
    color:#fff;
    background: linear-gradient(to bottom, rgb(0, 0, 0) , rgb(105, 105, 105));

}

/* flex de la segunda seccion */
.segunda-seccion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* contenido de segunda seccion */
.segunda-seccion h3{ 
    font-size: 28px;
    margin:30px 0px;
}
.segunda-seccion p{
    width: 600px;
    letter-spacing: 1px;
    margin:4px 0px;
    text-align: center;
}
.segunda-seccion img{
    width: 260px;
    margin-top: 50px;
    
}


/*segunda seccion botones */

.nosotros_botones{
    display: block;
    width: 100%;
    height: 300px;
    
}
.nosotros_botones ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.nosotros_botones ul li{
    list-style: none;

      
} 

.nosotros_botones ul li a{
    display:inline-block;
    margin-top:21px;
    text-align: center;
    padding: 15px 20px;
    width: 160px;
    background: rgb(136, 136, 136);
    border-radius:20px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    transition-property: transform, box-shadow;
    transition-duration: .5s, .5s;
}

.nosotros_botones_ul__li a:hover{
    background: rgb(120, 120, 120) ;
    box-shadow: 0px 0px 6px 2px #aaa;
    transform: scale(1.1);
}




/* tercera seccion  caracteristicas*/
.tercera-seccion-caracteristicas{

    display:flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 100%;
   
    

}
/*caja primer caracteristicas(caja de la tercera seccion)*/
.primer-caja-caracteristica{
    display:flex;
    height: 1000px;
    flex-flow: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}   


/* caja de las caracteristicas */
.primer-caja-caracteristica img{
    width:700px;
    border-radius: 10px;
    height: 400px;
    margin-top: 20px;


} 

.caja-texto-primer-caracteristica{ /* caja de texto */
    border-left: 10px solid #66a3ff;
    width: 360px;
    margin-left: 21px;
    margin-top: 30px;
    padding-bottom: 23px ;
}

.caja-texto-primer-caracteristica h3{
    text-align:center;
    padding-left:30px;
    font-size: 21px;
    margin:20px 0px;
}

.caja-texto-primer-caracteristica p{
    text-align: center;
    padding-left:30px;
    padding-top:11px;

}







/*cajas segunda y tercera caracteristicas(caja de la tercera seccion)*/
.segundo-contenedor-caracteristicas{
    width:100%;
    height: 1730px;
    margin: 20px 0px;
    color: #fff;
    padding-left:340px;
    padding-top: 240px;
    

}
/* grid del segundo contenedor  */
.segundo-contenedor-caracteristicas{
    display: grid;
    grid-template-columns: repeat(6, 160px 1fr ) ;
    grid-template-rows: repeat(9, 160px ) ;
    
}




/*cajas del segundo contenendor caracteristicas*/
.caja-imagen-caracteristica-2{/*caja imagen de la segunda caracteristicas*/
    height: 340px;
    width: 500px;
    grid-column: 4/7;
    grid-row:1/3 ;
    background: #000;
   
}

.caja-imagen-caracteristica-2 img{
    object-fit: cover;
    height: 340px;
    width: 500px;
       
}


/*caja texto*/
.caja-texto-caracteristica-2{
    height: 340px;
    width: 500px;
    grid-column: 1/3;
    background: #000;
    grid-row:1/3 ;
    
}

.caja-texto-caracteristica-2 h3{
    margin: 20px 0px;
    text-align: center;
    font-size:25px;
}

.caja-texto-caracteristica-2 p{
    width:400px;
    text-align: center;
    margin-left: 50px;
    font-size: 14px;
}


/*caja imagen tercera  caracteristica*/

.caja-imagen-caracteristica-3{
    height: 340px;
    width: 500px;
    grid-column: 1/3;
    grid-row: 3/5;
    background: #000;


}
.caja-imagen-caracteristica-3 img{

        object-fit: cover;
        height: 340px;
            width: 500px;

}

/*caja del texto caracteristica 3*/
.caja-texto-caracteristica-3{
    height: 340px;
    width: 500px;
    grid-column: 4/7;
    grid-row: 3/5;
    background: #000;

    
}
/*elem,ento de caja de texto caracteristica 3*/
.caja-texto-caracteristica-3 h3{
    margin: 20px 0px;
    font-size:25px;
    text-align: center;
}

.caja-texto-caracteristica-3 p{
    width:400px;
    text-align: center;
    margin-left: 50px;
    font-size: 14px;

}








/*DISEÑO DEL FORMULARIO*/
/*contenedor cuarta seccion*/
.Cuarta-seccion-contactanos{

    position: relative;
    margin-top: 220px;


}
/*flex de la cuarta seccion*/

.Cuarta-seccion-contactanos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*caja de la cuarta seccion (formulario de sescripcion )*/
.formulario-suscripcion{
    width: 100%;
    height: 760px;
    position: relative;
    color:#ffff;
}

/* flex del formulario de suscripcion*/
.formulario-suscripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*elementos de este formulario*/
.formulario-suscripcion i{
    font-size: 32px ;

}
.titulo-suscrito{
    margin: 30px 0px;
}

.titulo-suscrito h2{
    font-size:30px ;
    letter-spacing: 1.1px;
}


.formulario-correo input{
    width: 500px;
    padding: 22px 6px;
    border:none;
    outline:none;
    font-size: 21px;
    transform: translateX(-50px);
    border-radius: 6px;


}
.formulario-correo input::placeholder{
    font-size: 16px;
}

.formulario-correo button{
    padding: 20px 30px;
    border-radius: 6px;
    background: #79c9c3;
    outline: none;
    margin-left: 21px;
    border:none;
    cursor: pointer;
    font-size: 16px;

}

.formulario-suscripcion img{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 760px;
}



/*caja de la cuarta seccion (contactos )*/

.cajas-contactos{

    height: auto;
    width: 100%;
    background: rgb(22, 21, 21);
    
}
/* flex de caja de contactos */
.cajas-contactos{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap:wrap ;
}
/*los hijos del contactos*/
.cajas-contactos > div{
    margin: 30px 0px;
}

/* cajas del contenedor de cajas-contactos */
/* caja direccion*/
.address{
    border-bottom:6px solid #79c9c3;
    border-radius: 5px;
    background: #fff;

    margin-top: 21px;
    height: 240px ;
    width: 330px;

}
/* flex de address */
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address i{
    
    transform: translateY(21px);
    color: #79c9c3;
    margin-top: 21px;

}

.nombre-address{
    border-bottom: 5px solid #79c9c3;
    padding: 30px 0px;
    


}

.texto-address{ 
    padding: 26px 30px;
    opacity: .7;
}




/*caja email */
.email{
    border-bottom:6px solid #79c9c3;
    border-radius: 5px;
    background: #fff;
    height: 240px ;
    width: 330px;

}
/* flex de email */
.email{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*elementos de caja email*/
.email i{
    margin-top: 21px;
    transform: translateY(21px);
    color: #79c9c3;
}

.nombre-email{
    border-bottom: 5px solid #79c9c3;
    padding: 30px 0px;

}
.texto-email{ 
    padding: 26px 30px;
    opacity: .7;
}



/*caja phone*/

.phone{
    border-bottom:6px solid #79c9c3;
    background:#fff;
    border-radius: 5px;
    height: 240px ;
    width: 330px;

}
/* flex de phone */
.phone{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*elementos de phone*/
.phone i{
    margin-top: 21px;
    transform: translateY(21px);
    color: #79c9c3;
}

.nombre-phone{
    border-bottom: 5px solid #79c9c3;
    padding: 30px 0px;

}

.texto-phone{ 
    padding: 26px 30px;
    opacity: .7;
}




/*caja redes del contenedor de la cuarta seccion*/

.redes{
    height: 300px;
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background: rgb(22, 21, 21);

}

/*caja de contenedor redes */
.iconos-redes{
    height: 300px;
    margin: 30px 0px;

}
/* flex de iconos-redes */
.iconos-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*elementos de iconos-redes */
.iconos-redes div{
    background: rgb(63, 63, 63);
    margin-left: 21px;
    cursor: pointer;

}
.iconos-redes div i{
    color: rgb(126, 126, 126);
}


.iconos-redes > div{
    border-radius: 50%;
    padding: 20px 20px ;
}

.iconos-redes div:hover i{
    color: rgb(255, 255, 255);


}
/*caja de redes que es el texto del copyright*/
.copy{
    margin:80px 0px;

}

.copy h3{
    color: rgb(126, 126, 126);
    font-size: 15px;

}




/*responsive de computador */
/*ajusta algunos elementos que no son flexibles*/

/*responsive de tablets o computadores */
@media screen and (min-width:1160px) and (max-width:1610px) {

    .segundo-contenedor-caracteristicas{
        margin: 0px auto;
        transform:translateX(-120px);
    }
    /*ajusta el circulo de las redes*/


    

}



/*RESPONSIVE*/

/*responsive de computador */
@media screen and (min-width:690px) and (max-width:1160px) {

    /*segundo contenedor de caracteristica 3 y 4*/
    .segundo-contenedor-caracteristicas{
        margin: 0px auto;
    }
    /*cajas del segundo contenedor de caracteristicas*/
    .caja-texto-caracteristica-2{
        background: #000;
        padding: 0;
        margin: 0;
    }
    /*ajuste de algunas caja del grid del segundo contenedor*/
    .caja-imagen-caracteristica-2{
        grid-row: 3/6;
        grid-column: 1/3;
    }
    .caja-texto-caracteristica-3{
        grid-row: 5/7;
        grid-column: 1/3;

    }
    .caja-imagen-caracteristica-3{
        
        grid-row: 7/9;
        grid-column: 1/3;

    }
    .opciones-menu {
        margin-left:0;
        width: 1000px;
        margin: 0;
    }
    .opciones-menu ul{
        transform: translateX(-20px);
        
    }
    .opciones-menu ul li a{
        font-size: 15px;
    }

}

/*responsive de tablets o computadores */
@media screen and (min-width:690px) and (max-width:760px) {

    .segundo-contenedor-caracteristicas{
        margin: 0px auto;
        transform:translateX(-120px);
    }
    .iconos-redes div{
        padding: 20px 20px;
    }
    

}




/*responsive de tablets o computadores */
@media screen and (min-width:450px) and (max-width:760px) {


    .segundo-contenedor-caracteristicas{
        transform:translateX(-280px);
    }

        /*cajas del segundo contenedor de caracteristicas*/
        .caja-texto-caracteristica-2{
            background: #000;
            padding: 0;
            margin: 0;
        }
        /*ajuste de algunas caja del grid del segundo contenedor*/
        .caja-imagen-caracteristica-2{
            grid-row: 3/6;
            grid-column: 1/3;
        }
        .caja-texto-caracteristica-3{
            grid-row: 5/7;
            grid-column: 1/3;
    
        }
        .caja-imagen-caracteristica-3{

            grid-row: 7/9;
            grid-column: 1/3;
    
        }
    

}


/* solo menu ajuste de responsive */
@media screen and (min-width:760px ) and (max-width:810px){
    .nombre{
        margin-left: 17px;
    }
    .opciones-menu{
        flex-grow: 1;
    }
    .opciones-menu ul{
        margin-left: 40px;
        width: 640px;
    }
    .opciones-menu ul li a{
        font-size: 15px;
    }
}



/*interactividad de boton de menu */
@media screen and (max-width:700px){
    .contenedor-menu{
        background: #444;

    }

    .checkbtn{
        display:block;
        

    }
    .nombre{
        position:absolute;
    }


    /*aplicando estilos para cuando aparezca el menu*/
    
    .opciones-menu ul{
        position:fixed;
        width:170%;
        height: 100vh;
        background: linear-gradient(to bottom, #444 , #aaa);
        top: 54px; 
        left: -170%;
        text-align: center;
        transition: all .5s; 
    }
    .nombre{
        align-self: center;
        float: left;
        padding: 0;
        margin: 0px 0px 0px -40px ;
        box-sizing: border-box;
    }

    .ul-menu{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-bottom:140px;
    }


    .opciones-menu ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
        padding-bottom : 10px ;
        

    }
    .opciones-menu ul li a{
        font-size: 24px;
        
    }
    .opciones-menu ul li a:hover {
        background:none;
        padding: 20px 100px;
        color:rgb(189, 0, 0);
        border: none;
        box-shadow: 1px 1px 5px 5px #999 ;

    }
    #check:checked ~ ul {
        left: 0 ;


    }




}











/*responsive de celulares*/
@media screen and (max-width: 430px) {

    /*menu*/

    .contenedor-menu{
        width:26.9vh;
    }
    .contenedor-menu{
        height: 50px;
        
    }
    
    .nombre{
        transform: translateX(-95px);
            
    }
    
    .nombre a {
        font-size: 13px;
    }

    .opciones-menu label i{
        font-size: 21px;
        
    }
    .checkbtn {
        line-height: 45px;
    }

/*boton estilo dentro*/

.opciones-menu ul{
    position:fixed;
    width:100%;
    height: 99.7vh;
    top: 50px; 
    left: -100%;

}

.opciones-menu ul li{
    display: block;
    margin: 30px  0 30px 130px;
    line-height: 20px;
    padding-bottom : 40px ;
    

}
.opciones-menu ul li a{
    font-size: 16px;
    
}

#check:checked ~ ul {
    left: 0 ;


}



/*ajustando todo contenido*/
    .contenedor-general{
        width:220px;
    }
    body{
        width: 220px;
        overflow-x: hidden;
    }








    .primer-seccion{
       display: flex;
       flex-direction: column;
       align-content: center;
       justify-content: center; 
       height: auto;
       width: 230px;
    }
    .primer-seccion h3{
        transform: scale(.5);
    }
    .primer-seccion img{
        transform: scale(.6) translateY(74px);
        height: 160px;

    }

    .primer-seccion a{
        transform: scale(.5);
    }

    /*segunda*/
    .segunda-seccion{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center; 
        height: 1000px;
        width: 230px;
     }
     .segunda-seccion p{
         transform: scale(.4);
         width: 300px;
     }
     .segunda-seccion h3{
        transform: scale(.5) translateY(61px);

    }
     .segunda-seccion img{
         transform: scale(.5) translateY(-201px);
 
     }
     .nosotros_botones{
        height: 120px;
     }
     .nosotros_botones a{
        transform:  scale(.7) translateY(-61px);

     }

     
         /*tercera seccion */
    .tercera-seccion-caracteristicas{

        width: 230px;
     }

    .primer-caja-caracteristica{
        display: flex;
        flex-direction: column;
        align-content: center¿;
        justify-content: center; 
        height: auto;
        width: 230px;

    }     
    .caja-texto-primer-caracteristica{
        transform: translateY(-110px);
        margin: 0;
        padding: 0;
    }
     .primer-caja-caracteristica img {
         transform: scaleY(.3) scaleX(.7) translateX(-10px);
         margin: 0;
        padding: 0;
     }
     .caja-texto-primer-caracteristica{
        width: auto;
        padding:0;
        margin:0;
     }
     .caja-texto-primer-caracteristica h3{
        transform: scale(.5);
        margin: 0;
        padding: 0;

     }
     .caja-texto-primer-caracteristica p{
        transform: scale(.5);
        margin: 0;
        padding:0;

     }



     /* cuarta seccion */




/*cajas segunda y tercera caracteristicas(caja de la tercera seccion)*/
.segundo-contenedor-caracteristicas{
    width:230px;
    height: 1500px;
    margin: 20px 0px;
    color: #fff;
    padding: 0;
    

}
/* grid del segundo contenedor  */


.segundo-contenedor-caracteristicas{
    
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 60px ) ;
    grid-template-rows: repeat(12, 60px ) ;
    width: 220px;
}




/*cajas del segundo contenendor caracteristicas*/
.caja-imagen-caracteristica-2{/*caja imagen de la segunda caracteristicas*/
    height: 200px;
    width: 200px;
    grid-column: 1/3;
    grid-row:2/4 ;
    background: #000;
   
}

.caja-imagen-caracteristica-2 img{
    object-fit: cover;
    height: 200px;
    width: 200px;
       
}


/*caja texto*/
.caja-texto-caracteristica-2{
    height: 200px;
    width: 200px;
    grid-column: 1/3;
    background: #000;
    grid-row:5/7 ;
    
    
}

.caja-texto-caracteristica-2 h3{
    transform: scale(.5);
    
}

.caja-imagen-caracteristica-2 p{
    transform: scale(.5);

}


.caja-texto-caracteristica-2 h3{
    margin: 20px 0px;
    text-align: center;
    font-size:25px;
}

.caja-texto-caracteristica-2 p{
    width: 220px;
    text-align: center;
    margin-left: 50px;
    font-size: 14px;
}


/*caja imagen tercera  caracteristica*/

.caja-imagen-caracteristica-3{
    height: 200px;
    width: 200px;
    grid-column: 1/3;
    grid-row:7/8;
    transform: translateY(50px);
    background: #000;


}
.caja-imagen-caracteristica-3 img{

        object-fit: cover;
        height: 200px;
        width: 500px;

}

/*caja del texto caracteristica 3*/
/*caja texto*/
.caja-texto-caracteristica-3{
    height: 200px;
    width: 200px;
    grid-column: 1/3;
    background: #000;
    grid-row:11/13 ;
    
    
}

.caja-texto-caracteristica-3 h3{
    transform: scale(.5);
    
}

.caja-imagen-caracteristica-3 p{
    transform: scale(.5);

}


.caja-texto-caracteristica-3 h3{
    margin: 20px 0px;
    text-align: center;
    font-size:25px;
}

.caja-texto-caracteristica-3 p{
    width: 200px;
    text-align: center;
    margin:0px ;
    padding-bottom: 64px ;
    font-size: 11px;
    transform: translateY(-21px);
}


/*contactos*/


    .Cuarta-seccion-contactanos{
        width:220px;
    }

    .formulario-suscripcion{
        width:220px;
    }

    .formulario-suscripcion i{
        font-size: 12px;
    }

    .titulo-suscrito h2{
        font-size: 11px;

    }

    /*correo*/

    .formulario-correo{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin:0;

    }

    .formulario-correo input{
        width: 200px;
        padding: 10px 0px;
        margin: 0;
        transform: translateY(70px);
    } 

    .formulario-correo button{
        transform: translateY(80px) translateX(0px);
        padding:10px;
        margin:0;
    }


    /*contactanos*/
    .cajas-contactos{
        width: 220px;

    }
    .address{
        width:190px;
        height:190px;
    }

    .nombre-address h3{
        font-size: 15px;
    }
    .texto-address p {
        font-size: 12px;
    }
    
    /*caja email*/
    .email{
        width:190px;
        height:190px;
    }

    .nombre-email h3{
        font-size: 15px;
    }
    .texto-email p {
        font-size: 12px;
    }
    /*caja telefono*/
    .phone{
        width:190px;
        height:190px;
    }

    .nombre-phone h3{
        font-size: 15px;
    }
    .texto-phone p {
        font-size: 12px;
    }
 
    .redes{
        width: 220px;
    }
    .iconos-redes{
        width: 220px;

    }
    .iconos-redes div {
        padding: 15px;
        
    }
    .copy{
        width: 180px;
    }



     }




    
